* {
	margin: 0px;
	padding: 0px;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;


}

html { 
	z-index: 0;
	position: relative;
  background: url(https://static.pexels.com/photos/21014/pexels-photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {

	padding: 20px;
	text-align: center;
}

.buffer, .menuBar {
	height: 9vh;
	width: 100vw;
}

.menuBar {
	z-index: 2;
	position: fixed;
	text-transform: uppercase;
	background-color: #212121;
	box-shadow: 2px 2px 1px #888;
}

.menuBar ul {
	float: right;
	margin-right: 3vw;
	list-style-type: none;
}

.menuBar h1 {
	color: rgba(255,255,255,.7);
	margin-left: 1vw;
	padding: 0px;
	line-height: 9vh;
	display: block;
	float: left;
}

.menuBar ul li {
	display: inline-block;
	text-align: center;
}

.menuBar>ul>li>a {
	font-size: 15px;
	display: block;
	color: rgba(255,255,255,.7);
	padding: 25px 10px;
	text-decoration: none;
}

.menuBar ul li a:hover {
	color: yellow;
}
