

<div class = 'routeForm'>
	<form>
		<div class = 'location'>
			<label><input class = 'userInput' id = 'startAddress' placeholder = 'Start Address' type="text"></label>
			<label><input class = 'userInput'id = 'endAddress' placeholder = 'End Address' type="text"></label>
		</div>
		<div class = 'timeField'>
			<label for = 'fromTime'>Leaving between<input id="fromTime" type="text" class="userInput time ui-timepicker-input" autocomplete="off"></label>
			<label for = 'toTime'>and<input id="toTime" type="text" class="userInput time ui-timepicker-input" autocomplete="off"></label>
		</div>
		<div class = 'days'>
			<span class = 'dayToggle' id = 'sunday'>Su</span>
			<span class = 'dayToggle' id = 'monday'>M</span>
			<span class = 'dayToggle' id = 'tuesday'>Tu</span>	
			<span class = 'dayToggle' id = 'wednesday'>W</span>
			<span class = 'dayToggle' id = 'thursday'>Th</span>
			<span class = 'dayToggle' id = 'friday'>F</span>
			<span class = 'dayToggle' id = 'saturday'>Sa</span>
		</div>
		<div class = 'driver'>
			<span class = 'driverToggle'>I am driving</span>
			<input class = 'isDriver' style="display: none;" id = 'seats' placeholder = 'Open seats' type="text">
			<input class = 'isDriver' style="display: none;" id = 'fee' placeholder="Fee per ride" type="text">
		</div>
		<div class = 'submit'>
			<span class = 'submitRoute' ng-click= "submitRoute()">Submit</span>
		</div>
	</form>
</div>
