<div class = 'dashboardView'>
	<div class = 'dashboardMenu'>
		<h3>{{username}}</h3>
		<ul id = 'navTools'>
			<li><p id = 'waiting' data-forElement = 'all'>all rides</p></li>
			<li><p id = 'confirmed' data-forElement = 'confirmed'>confirmed rides</p></li>
			<li><p id = 'pending' data-forElement = 'notConfirmed'>pending rides</p></li>
			<li><p id = "createRoute" data-forElement = 'routeForm'>Create Route</p></li>
		</ul>
	</div>
	<div class = 'sideBuffer'></div>
	<div class = 'container'>
		<div class = 'routeForm' style="display: none;">
			<form>
				<div class = 'location'>
					<label><input class = 'userInput' id = 'startAddress' placeholder = 'Start Address' type="text"></label>
					<label><input class = 'userInput'id = 'endAddress' placeholder = 'End Address' type="text"></label>
				</div>
				<div class = 'timeField'>
					<label for = 'fromTime'>Leaving between<input id="fromTime" type="text" class="userInput time ui-timepicker-input" autocomplete="off"></label>
					<label for = 'toTime'>and<input id="toTime" type="text" class="userInput time ui-timepicker-input" autocomplete="off"></label>
				</div>
				<div class = 'days'>
					<span class = 'dayToggle' id = 'sunday'>Su</span>
					<span class = 'dayToggle' id = 'monday'>M</span>
					<span class = 'dayToggle' id = 'tuesday'>Tu</span>	
					<span class = 'dayToggle' id = 'wednesday'>W</span>
					<span class = 'dayToggle' id = 'thursday'>Th</span>
					<span class = 'dayToggle' id = 'friday'>F</span>
					<span class = 'dayToggle' id = 'saturday'>Sa</span>
				</div>
				<div class = 'driver'>
					<span class = 'driverToggle'>I am driving</span>
					<input class = 'isDriver' style="display: none;" id = 'seats' placeholder = 'Open seats' type="text">
					<input class = 'isDriver' style="display: none;" id = 'fee' placeholder="Fee per ride" type="text">
				</div>
				<div class = 'submit'>
					<span class = 'submitRoute' ng-click= "submitRoute()">Submit</span>
				</div>
			</form>
		</div>

		<div class = 'allRoutes' >
		<ul ng-repeat= 'route in passengerRoutes track by $index' ng-hide= "user.IsDriver">
				<li>
					<div class='routeRender' ng-class="route.confirmedDriverRoute ? 'confirmed' : 'notConfirmed'">
						<div class = 'rideInfo'>
							<p class = 'from'><b>{{route.startLabel}}</b> to <b>{{route.endLabel}}</b></p>
							<p class = 'timeWindow'> Leaving between <b>{{route.fromHour > 12 ? route.fromHour-12 : route.fromHour}}:{{route.fromHour > 11 ? route.fromMinutes + "PM" : route.fromMinutes + "AM"}}</b> and <b>{{route.toHour > 12 ? route.toHour-12 : route.toHour}}:{{route.toHour > 11 ? route.fromMinutes + "PM" : route.fromMinutes + "AM"}}</b></p>
							<p class = 'noDrivers' ng-hide= "route.confirmedDriverRoute"><i> No drivers have accepted the ride yet. </i></p>
						</div>
					<div class = 'selectedDays'>
						<ul><li ng-repeat= 'day in route.days' ><div class = 'singleDay'>{{day}}</div></li></ul>
						<div ng-show= "route.confirmedDriverRoute" class= 'driverInfo'>
							<p>{{route.confirmedDriverRoute.driverInformation.name}}</p>
							<p>{{route.confirmedDriverRoute.driverInformation.phoneNumber}}</p>
							<img ng-src= {{route.confirmedDriverRoute.driverInformation.picture}}  />
						</div>
						</div>
					</div>
					</div>
				</li>
			</ul>

			<div ng-repeat= 'route in driverRoutes track by $index' ng-show= "user.IsDriver">
			<div class = 'singleRoute'>
				
					<div class='routeRender'>
						<p class = 'from'>From: {{route.startLabel}}</p>
						<p class = 'to'>To: {{route.endLabel}}</p>
						<p class = 'time'> Leaving between {{route.fromHour > 12 ? route.fromHour-12 : route.fromHour}}:{{route.fromHour > 11 ? route.fromMinutes + "PM" : route.fromMinutes + "AM"}} and {{route.toHour > 12 ? route.toHour-12 : route.toHour}}:{{route.toHour > 11 ? route.fromMinutes + "PM" : route.fromMinutes + "AM"}}</p>
						<p class = 'days'>{{route.days}}</p>
					</div>

					<span ng-show= "route.confirmedPassengerRoutes.length > 0">Confirmed Passengers:</span>
						
					<div ng-repeat='confirmedRoute in route.confirmedPassengerRoutes track by $index'>
						<div class = 'driverInfo confirmedPassenger'>
							<img ng-src= {{confirmedRoute.passengerInformation.picture}}  />
							<div class = 'nameDays'>
								<p>{{confirmedRoute.passengerInformation.name}}</p>
								<p> Driving: {{confirmedRoute.days}}</p>
							</div>
							<div class = 'startEnd'>
								<p> Leaving between {{route.fromHour > 12 ? route.fromHour-12 : route.fromHour}}:{{route.fromHour > 11 ? route.fromMinutes + "PM" : route.fromMinutes + "AM"}} and {{route.toHour > 12 ? route.toHour-12 : route.toHour}}:{{route.toHour > 11 ? route.fromMinutes + "PM" : route.fromMinutes + "AM"}}</p>
								<p>From: {{confirmedRoute.startLabel}}</p>
								<p>To: {{confirmedRoute.endLabel}}</p>
							</div>
						</div>
					</div>
					<span ng-show= "route.prospectivePassengerRoutes.length > 0">Prospective Passengers:</span>
					<span ng-show= "route.prospectivePassengerRoutes.length <= 0">No Prospective Passengers</span>
					<div ng-repeat='prospectiveRoute in route.prospectivePassengerRoutes track by $index'>
						<div class = 'driverInfo notConfirmed' ng-click="confirmPassenger(prospectiveRoute._id, route._id)">
							<img ng-src= {{confirmedRoute.passengerInformation.picture}}  />
							<div class = 'nameDays'>
								<p>{{confirmedRoute.passengerInformation.name}}</p>
								<p> Driving: {{confirmedRoute.days}}</p>
							</div>
							<div class = 'startEnd'>
								<p>{{confirmedRoute.fromHour}}:{{confirmedRoute.fromMinutes}} and {{confirmedRoute.toHour}}:{{confirmedRoute.toMinutes}}</p>
								<p>From: {{confirmedRoute.startLabel}}</p>
								<p>To: {{confirmedRoute.endLabel}}</p>
							</div>
						</div>
					</div>
				</div>

			<br>
			<hr>
		</div>
		</div>
	</div>
</div>